{% extends 'base.html.twig' %}

{% block title %}Neue Notiz erstellen{% endblock %}

{% block body %}
    <h1 style="">Hallo {{ user.username }} </h1>
    <h3 style=""><a href="{{ url("logout") }}">abmelden</a></h3><br>
    <h3 style=""><a href="{{ url("show_change_password") }}">Passwort ändern</a></h3><br>

    <link rel="stylesheet" href="/style.css">
    <h1><a href="{{ url("paste.create") }}">Neue Notiz erstellen</a></h1>

    <h2>Liste aller Notizen</h2>
    <table>
        <thead>
        <tr>
            <th>URL</th>
            <th>Erstellt am</th>
            <th>TTL</th>
            <th>Anzahl der Anhänge</th>
        </tr>
        </thead>
        <tbody>
            {% for paste in user.pastes %}
                <tr>
                    <td><a href="{{ url("paste.show", {"url": paste.url}) }}">{{ paste.url }}</a></td>
                    <td>{{ paste.created|date('d.m.Y H:i') }}</td>
                    <td>{{ paste.then|date('d.m.Y H:i') }}</td>
                    <td>{{ paste.attachments|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
